# Arquivos de compilação
.gradle/
build/

# Arquivos gerados pelo Android Studio
*.iml
.idea/
.gradle/
local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/libraries
.externalNativeBuild
/captures

# Arquivos de configuração específicos do sistema operacional
.DS_Store
Thumbs.db

# Outros arquivos e diretórios específicos do Android
android/.gradle
android/build
android/captured_frames
android/captured_video
android/keyAlias.txt
android/keyPassword.txt
android/keystore.properties
android/release.keystore
android/production
android/release-signing.properties
android/.cxx
android/local.properties

# Logs e saída de debug
*.log
*.txt

# Arquivos de configuração do Kotlin
.gradle/
build/

# Arquivos de configuração do Android Studio
*.iml
.idea/
.gradle/
local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/libraries
.externalNativeBuild
/captures

# Arquivos de configuração específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de compilação
build/
/captures/
